:root {
    --background-color: black;
    --background-color-focus: #333333;
    --foreground-color: white;
    --border-unfocused: #aaaaaa;
    --font-weight-light: 200;
    --font-weight-normal: 400;
    --font-weight-bold: 600;
}

html {
    height: 100%;
}

body {
    margin: 0;
	padding: 0;
    height: 100%;
}

#root {
    margin: 0;
	padding: 0;
    height: 100%;
}
